{% extends 'base.html' %} {% load static %}




<!-- Я back-end разработчик на Python со специализацией в разработке сайтов на Django и создании ботов для различных социальных сетей, включая Telegram. Кроме того, я имею опыт работы с микроконтроллерами, что позволяет мне создавать умные устройства и системы интернета вещей. Мои навыки и опыт в программировании позволяют мне создавать качественные и инновационные решения для большинства современных  проектов. Свяжитесь со мной, если вам требуется помощь в разработке сайта, бота или автоматизации различных процессов. -->
{% block content %}
 
{% endblock %}

{% block button %}


{% endblock %}