{% extends 'base.html' %} {% load static %}

{% block photo %}
{% if img %}
<img width="70%" src="{% static 'main/img/me/me.png' %}" alt="">
{% endif %}
{% endblock %}

{% block discription %}

<!-- Разработка сайтов, ботов для различных социальных сетей, интернет магазинов. -->
<!-- Development of websites, bots for various social networks, online stores. -->
{% endblock %}

{% block content %}

<!-- Меня зовут Иван, я бекенд разработчик. Я создаю сайты, боты и приложения, а точнее их серверную часть. -->

<!-- My name is Ivan, I am a backend developer. I create websites, bots and applications, or rather their backend. -->
{% endblock %}



{% block button %}


{% endblock %}