{% extends 'base.html' %} {% load static %}

{% block content %}
<!-- 
<pre>
My name is Ivan and I am a programmer with little work experience. I have a fairly wide range of skills in software development, including web applications, writing programs for microcontrollers and additional components for various purposes,bots for various social networks and setting up databases.
<div class="skils">
  My key skills include:
    1) Knowledge of programming languages such as Python, JavaScript, SQL, C++
    2) Experience working with frameworks and libraries such as Django, FastAPI, OpenCV, Soket
    3) Creating and optimizing databases using SQLite, MySQL, PostgreSQL
    4) Skills of working with the API of various services
    5)Extensive experience in writing and configuring scripts for various purposes
    6) Experience working with version control systems such as Git
    7) Development and testing of web applications using Python, HTML, CSS, JavaScript
    8) I also have experience participating in the full software development lifecycle: from requirements analysis and design to 
    9) development, testing and support.
</div>
My goal is to create high-quality software products that correspond to
</pre> -->
{% endblock %}